<h2>Agenda tu cita</h2>
<p>Dejanos tu informacion para ponernos en contacto contigo.</p>
<form action="procesar.php" method="post">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="correo">Correo:</label>
    <input type="text" id="correo" name="correo" required>

    <label for="mensaje">Mensaje:</label>
    <textarea id="mensaje" name="mensaje" rows="5" cols="30" required></textarea>

    <button type="submit">Enviar</button>
</form>